header {
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 100;
    width: 100%;
    box-shadow: 0px -22px 342px rgba(0, 0, 0, 0.21), 0px -8.03036px 124.836px rgba(0, 0, 0, 0.144896), 0px -3.89859px 60.6054px rgba(0, 0, 0, 0.116821), 0px -1.91116px 29.7099px rgba(0, 0, 0, 0.0931789), 0px -0.755676px 11.7473px rgba(0, 0, 0, 0.0651039);
}

.desktop-header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.mobile-header {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    padding: 30px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    font-weight: 200;
    font-size: 1.7em;
    transition: 1050ms ease-in-out;
}

.links.toggled {
    font-size: 2em;
    color: white;
    transition: 1050ms ease-in-out;
}


.menu-btn {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.bars {
    width: 35px;
    height: 3px;
    background-color: var(--primary-white);
    border-radius: 10px;
    position: relative;
    transition: 100ms ease-in-out;
}

.bars.toggled {
    transform: rotateZ(45deg);
    transition: 100ms ease-in-out;
}

.bars.toggled::before {
    transform: rotateZ(90deg);
    transition: 20ms ease-in-out;
    top: 0;
}

.bars.toggled::after {
    top: 0;
}

.bars::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    background-color: var(--primary-white);
    top: 10px;
    border-radius: 10px;
}

.bars::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    background-color: var(--primary-white);
    top: -10px;
    border-radius: 10px;
}

.dropdown-header {
    z-index: 99;
    overflow: hidden;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 0px;
    transition: 550ms ease-in-out;
    background-color: var(--primary-blue);
}

.dropdown-open {
    height: 450px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    box-shadow: 0px 42px 74px rgba(0, 0, 0, 0.42), 0px 12.6618px 22.3088px rgba(0, 0, 0, 0.273667), 0px 5.25905px 9.26595px rgba(0, 0, 0, 0.21), 0px 1.9021px 3.35131px rgba(0, 0, 0, 0.146333);
}

.media-container {
    gap: 30px;
    display: flex;
    flex-direction: row;
}

.media-container a {
    width: 30px;
    height: 30px;
}

.media-links {
    width: 23px;
    height: 23px;
    transition: 2000ms ease-in-out;
}

.media-links path {
    fill-opacity: 0;
    height: 23px;
    width: 23px;
}

.media-links.toggled path{
    fill-opacity: 1;
    transition: 2000ms ease-in-out;
}

.media-container svg{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    header {
        height: 80px;
    }

    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: flex;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 0;
    }

    .nav-links a {
        text-decoration: none;
        color: var(--primary-white);
        font-weight: 200;
        font-size: 1em;
        border-bottom: 2px solid transparent;
        transition: 150ms ease-in-out;
    }

    .nav-links a:hover {
        border-bottom: 2px solid var(--primary-white);
    }

    .media-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .media-container a {
        width: 18px;
        height: 18px;
    }
    
    .media-container svg{
        width: 100%;
        height: 100%;
    }

    .media-container a:hover > svg path  {
        fill: rgb(227, 227, 227);
    }
}