main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding-bottom: 100px;
    height: 100vh;
}

.landingpage {
    height: 100vh;
    width: 100%;
    position: relative;
    min-height: 450px;

}

.bg-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 80%;
}

.herobanner {
    position: relative;
    background-image: url(../img/ian-dooley-DJ7bWa-Gwks-unsplash.jpg);
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.herobanner::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1;
    background: linear-gradient(90.48deg, #0B1629 0.45%, rgba(0, 0, 0, 0) 28.82%), linear-gradient(0deg, rgba(11, 22, 41, 0.8), rgba(11, 22, 41, 0.8)), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 31.77%, rgba(0, 0, 0, 0) 66.15%, #0B1629 100%);}

.banner-content-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.banner-content {
    z-index: 10;
    top: 50vh;
    left: 0;
    position: absolute;
    max-width: 700px;
    padding: 10px;
}

.banner-content h2 {
    color: var(--primary-white);
    font-weight: 200;
    font-size: 1.3em;
}

.banner-content p {
    color: var(--primary-white);
    max-width: 450px;
    font-weight: 200;
}

.banner-content h1 {
    color: var(--primary-green);
    font-size: 2.6em;
    font-weight: 400;
}

.about-container {
    background-color: var(--primary-white);
    height: 100vh;
    min-height: 1200px;
    width: 100%;
    scroll-margin-top: 130px;
    scroll-snap-align: start;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

.about-img-container {
    position: relative;
    height: 300px;
    width: 100%;
    z-index: 50;
}

.inner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 400px;
    top: -30px;
    right: 5px;
    margin-left: 60px;
}

.inner-img-container {
    position: relative;
    height: 100%;
    width: 90%;
    border: 4px solid var(--primary-green);
    border-radius: 3px;
}

.inner-img-container::before {
    border: 4px solid var(--primary-white);
    border-radius: 2px;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: -30px;
    right: -30px;
    background-image: url(../img/IMG_0196.jpg);
    background-size: cover;
    background-position: center;
}

.about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-content-container h3 {
    font-size: 2em;
    padding-bottom: 20px;
    font-weight: 400;
}

.about-content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 90%;
    gap: 30px;
}

.about-content p {
    font-weight: 200;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50%;
    width: 80%;
    max-height: 350px;
}

.skills-container h2 {
    margin-top: 50px;
    font-size: 1.8em;
    font-weight: 400;
}

.skills-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    width: 100%;
    max-width: 600px;
}

.row {
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: var(--primary-blue);
    border-radius: 10px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 33px 80px rgba(0, 0, 0, 0.24), 0px 13.7866px 33.4221px rgba(0, 0, 0, 0.172525), 0px 7.37098px 17.869px rgba(0, 0, 0, 0.143066), 0px 4.13211px 10.0172px rgba(0, 0, 0, 0.12), 0px 2.19453px 5.32008px rgba(0, 0, 0, 0.0969343), 0px 0.913195px 2.21381px rgba(0, 0, 0, 0.0674749);
}

.card svg {
    height: 60%;
    width: 60%;
}

.section-one-imgs {
    width: 100%;
}

.section-one-inner {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-one-iphone {
    display: none;
}

.section-one-ipad {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-ipad img {
    width: 90%;
    max-width: 560px;
    filter: drop-shadow(0px 6px 51px rgba(255, 255, 255, 0.14)) drop-shadow(0px 1.80882px 15.375px rgba(255, 255, 255, 0.0912224)) drop-shadow(0px 0.751293px 6.38599px rgba(255, 255, 255, 0.07)) drop-shadow(0px 0.271728px 2.30969px rgba(255, 255, 255, 0.0487776));
}

.section-one-content {
    max-width: 300px;
}

.section-one-content h3 {
    font-size: 1.8em;
    color: var(--primary-white);
    font-weight: 200;
}

.section-one-content h2 {
    font-size: 3.2em;
    font-weight: 400;
    color: var(--primary-green);
}

.section-one-content p {
    font-size: 1em;
    font-weight: 100;
    color: var(--primary-white);
    max-width: 400px;
}

.scroll-down-img {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.section-one, .landingpage, .recent-project-container, .contact-form{
    height: 100vh;
    
}

.section-two, .section-three, .section-four, .section-five {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    scroll-snap-align: center;
    scroll-margin-top: 80px;
    scroll-padding-top: 100px;
}

.slider-guide {
    position: sticky;
    z-index: 2;
    left: 5px;
    top: 40vh;
    bottom: 60vh;
    width: 55px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    opacity: 0;
} 

.slider-guide.active {
    opacity: 1;
    transition: 0.5s;
}

.fade-in {
    opacity: 0;
    transition: opacity 850ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.bar {
    z-index: 2;
    width: 55px;
    height: 3px;
    background-color: var(--primary-white);
    transition: 200ms ease-in-out;
    border-radius: 10px;
}

.bar:hover {
    background-color: rgb(217, 217, 217);
    width: 60px;
}

.bar.active {
    width: 70px;
    height: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    scroll-snap-align: center;
}

.section-img {
    height: 50%;
    width: 100%;
    position: relative;
    max-width: 550px;
    z-index: 1;
    background-image: url(../img/iphones/iPhone-13-Pro-snowy-days-og.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-img-desktop {
    display: none;
}

.section-info {
    z-index: 3;
    padding-top: 0px;
    height: 50%;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 22, 41, 0.3) 51.04%, rgba(11, 22, 41, 0) 100%), linear-gradient(89.91deg, #0b16296e 0.33%, rgba(11, 22, 41, 0) 25.43%);
}

.section-info h2 {
    z-index: 3;
    color: var(--primary-white);
    font-size: 2.8em;
    text-align: left;
}

.section-info h3 {
    z-index: 3;
    color: var(--primary-green);
    font-weight: 200;
    font-size: 1.5em;
}

.section-info p {
    z-index: 3;
    color: var(--primary-white);
    text-align: left;
    width: 80%;
    font-weight: 100;
    max-width: 350px;
}

.section-info a{
    flex: none;
    text-decoration: none;
    color: var(--primary-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    width: 90%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid var(--primary-green);
    max-width: 350px;
}

@media screen and (max-width: 410px) {
    .inner-container {
        height: 100%;
    }

    .section-img{
        width: 100%;
        height: 40%;
        background-position: center;
    }
}

@media screen and (min-width: 500px){
    .banner-content h1 {
        font-size: 3.2em;
    }

    .banner-content h2 {
        font-size: 1.3em;
    }

    .herobanner {
        background-position: center;
    }

    .section-img {
        background-position: right;
    }

    .section-info {
        padding-left: 100px;
        background: transparent;
    }

    .section-info p {
        max-width: none;
    }
}

@media screen and (min-width: 590px) {
}

@media screen and (min-width: 768px) {
    .banner-content-wrapper {
        display: flex;
        justify-content: flex-start;
    }

    .banner-content {
        top: 50vh;
        max-width: 800px;
    }

    .landingpage {
        margin-top: 80px;
        min-height: 600px;
    }

    .bg-container {
        width: 80%;
        height: 100%;
        right: 0;
    }

    .header {
        filter: drop-shadow(0px -9px 63px rgba(0, 0, 0, 0.54)) drop-shadow(0px -2.71324px 18.9927px rgba(0, 0, 0, 0.351858)) drop-shadow(0px -1.12694px 7.88858px rgba(0, 0, 0, 0.27)) drop-shadow(0px -0.407592px 2.85314px rgba(0, 0, 0, 0.188142));
    }

    .herobanner::after {
        background: linear-gradient(0deg, rgba(11, 22, 41, 0.8), rgba(11, 22, 41, 0.8)), linear-gradient(270.02deg, #0B1629 0.54%, rgba(0, 0, 0, 0) 14.6%, rgba(0, 0, 0, 0) 31.78%, #0B1629 98.43%), linear-gradient(180deg, #0B1629 -2.39%, rgba(0, 0, 0, 0) 25.03%, rgba(12, 25, 47, 0) 68.13%, #0B1629 100%);
    }

    .about-wrapper {
        flex-direction: row-reverse;
        gap: 40px;
        width: 95%;
        height: 50%;
    }

    .about-content-container {
        margin: 0 0 0 10px;
        width: 45%;
        padding-top: 50px;

    }

    .about-content {
        margin-bottom: 20px;
        max-width: 550px;
    }


    .inner-container {
        right: 30px;
        height: 100%;
    }

    .inner-img-container {
        height: 100%;
        margin-left: 20px;
    }

    .about-container {
        min-height: 900px;
    }

    .about-img-container {
        height: 300px;
        width: 45%;
    }

    .banner-content h1 {
        font-size: 3.7em;
    }

    .banner-content p {
        max-width: 500px;
    }

    .section-one-inner {
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
        padding: 150px 0 100px 0;
    }

    .section-one-imgs {
        width: 70%;
        position: relative;
    }


    .section-one-iphone {
        display: block;
        position: absolute;
        top: 150px;
        left: 10px;
    }

    .section-one-content{
        width: 30%;
    }

    .section-one-content p{
        max-width: 300px;
    }

    .section-img {
        display: none;
    }

    .section-img-desktop {
        display: flex;
        width: 58%;
        border-radius: 3px;
    }

    .section-img-desktop img {
        border-radius: 3px;
        width: 100%;
        /* object-fit: fill; */
        filter: drop-shadow(0px 6px 33px rgba(255, 255, 255, 0.1)) drop-shadow(0px 2.50666px 13.7866px rgba(255, 255, 255, 0.0718854)) drop-shadow(0px 1.34018px 7.37098px rgba(255, 255, 255, 0.0596107)) drop-shadow(0px 0.751293px 4.13211px rgba(255, 255, 255, 0.05)) drop-shadow(0px 0.399006px 2.19453px rgba(255, 255, 255, 0.0403893)) drop-shadow(0px 0.166035px 0.913195px rgba(255, 255, 255, 0.0281146));
        image-rendering: -webkit-optimize-contrast;
        /* image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges; */
        /* image-rendering: pixelated; */
        /* -ms-interpolation-mode: nearest-neighbor; */
    }

    .section-info {
        width: 30%;
        max-width: 350px;
        flex: none;
        background: linear-gradient(90deg, rgba(11, 21, 39, 0) -0.16%, #0C1628 77.42%);
    }

    .section-info h2 {
        font-size: 2em;
    }

    /* .section-four .section-info {
        padding-top: 80px;
    } */

    .section-info h3 {
        font-size: 1.2em;
    }

    .section-info p {
        font-size: 0.9em;
        width: 100%;
    }

    .section-info a{
        width: 60%;
        height: 30px;
        font-size: 0.9em;
        text-transform: uppercase;
        border-radius: 7px;
    }

    .section-info a:hover{
        background-color: var(--primary-green);
        transition: 400ms ease-in-out;
        color: var(--primary-blue);
    }

    .section-two, .section-five, .section-four, .section-three {
        align-items: center;
        justify-content: flex-end;        
        flex-direction: row;
        height: 80vh;
        width: 100%;
        scroll-snap-align: center;
    }    

    .section-two .section-img-desktop img,
    .section-three .section-img-desktop img {
        filter: drop-shadow(0px 27px 40px rgba(0, 0, 0, 0.92)) drop-shadow(0px 6.0308px 8.93452px rgba(0, 0, 0, 0.548419)) drop-shadow(0px 1.79553px 2.66004px rgba(0, 0, 0, 0.371581));
    }

    .slider-guide {
        top: 50vh;
        height: 48px;
    }

    .bar.active {
        height: 4px;
    }
}

@media screen and (min-width: 990px){
    .section-info h3 {
        font-size: 1.5em;
    }

    .section-info h2 {
        font-size: 2.9em;
    }

    .section-info p {
        font-size: 1em;
    }
    
}



