:root {
    /* Primary colors */
    --primary-blue: #0B1629;
    --primary-white: #fff;
    --primary-green: #92E3A9;

    /* Section shadow */





}

* {
    background-color: var(--primary-blue);
    margin: 0;
    font-family: 'K2D', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Ubuntu', sans-serif;
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 10px;
}

.none {
    display: none;
}